<!-- Toaster Placement -->

<div class="row py-4">

    <div class="col-3">
        <ol>
            <h5 class="text-em py-3"><li><b>Wallet Address</b></li></h5>
            <h5 class="text-em py-3"><li><b>Name and Email</b></li></h5>
        </ol>
    </div>

    <div class="col-9">
        <form>

            <!-- Wallet Address -->
            <h6 class="text-em"><b>Enter your Wallet address</b></h6>
                <p>Copy your wallet Address from your crypto Wallet and if you don't have we will help you create one. <a href="https://zarclays.com">Zarclays</a></p>
            <div class="form-floating">
                <input type="text" name="walletAddress" class="form-control">
                <label for="walletAddress">Wallet Address</label>
            </div>
            <pre></pre>

            <!-- Beneficiary Name and Email -->
            <div class="row">
                <h6 class="text-em"><b> Enter Full Name and Emaill Address</b></h6>
                <p>Enter your Real fullname and valid email address in other to check on you and to comfirm your identity for security reasons. </p>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="tesaName">
                        <label for="tesName">Full Name</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <input type="email" class="form-control" name="tesEmail">
                        <label for="tesEmail">Email Address</label>
                    </div>
                </div>
            </div>
            <pre></pre>

            <!-- Create Vault Button -->
            <div class="contianer text-center">
                <button class="btn btn-success text-white"><b> Create Vault</b></button>
            </div>
            
        </form>
    </div>
</div>