<div class="container-fluid">
    <div class="card">
        <div class="card-title text-center pt-3">
            <h3>Vault Type: <b>Crypto Assets Vault</b></h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="text-em">
                        <h4>Asset Title</h4>
                        <h6>Assets Title. Name</h6>
                    </div>
                    <pre></pre>
                    <div class="text-em">
                        <h4>Documents Lists</h4>
                        <h6>Lists Of documennt Uploaded</h6>
                    </div>
                    <pre></pre>
                    <div class="text-em">
                        <h4>Beneficiary(s)</h4>
                        <h6>List of Beneficiaries And Their percent</h6>
                    </div>
                    <pre></pre>
                </div>
                <div class="col-6">
                    <div class="text-em">
                        <h4>Ressurection Date</h4>
                        <h6>Date Of Ressurection</h6>
                    </div>
                    <pre></pre>
                    <div class="text-em">
                        <h4>Recipient Public Key</h4>
                        <textarea class="form-control" readonly style="width: 100%; height:100px; resize: none;" disabled>Recipient Public Key Text</textarea>
                    </div>
                    <pre></pre>
                    <div class="text-em">
                        <h4>Signatory(s)</h4>
                        <h6>List of Signatories</h6>
                    </div>
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>
</div>